.Nav {
  display: fixed;
  color: brown;
  background-color: tan;

  width: 100vw;
  height: 50px;
}

.homepage {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  background-color: tomato;

  background-image: url("./images/background.gif");
}

.Brand {
  display: flex;
}

.MoonIcon{
  color: purple;
}

.title {
  color:yellow
}



.Catpicture{
  width: 50%;
  
}